.gallery {
  display: flex;
  flex: 1;
  &__item {
  }

  &__photo {
    width: 100%;
  }
}

.overview {
  display: flex;
  align-items: center;

  &__title {
  }
}

.hotel-info {
  background-color: var(--color-grey-light-2);
}

.section {
  padding: 3.2rem;
  &__details {
  }

  &__reviews {
  }

  &__booking {
  }
}
