.gallery {
  display: flex;
  flex: 1;
  &__item {
  }

  &__photo {
    width: 100%;
  }
}

.overview {
  display: flex;
  align-items: center;
}

.hotel-info {
}

.section {
  padding: 3.2rem;
  &__details {
  }

  &__reviews {
  }

  &__booking {
  }
}
