/* 
***********************************************
Gallery styling
*********************************************** 
*/

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

/* 
***********************************************
Overview styling
*********************************************** 
*/
.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-to("mobile-600") {
    flex-direction: column;
    & > *:not(:last-child) {
      padding: var(--default-comp-pad);
    }
  }
  &__heading {
    display: flex;
    gap: 1.6rem;
    margin-left: 2.4rem;
    @include respond-to("mobile-600") {
      // flex: 1 50%;
      margin: 0;
    }
  }

  &__stars {
    @include flexbox-center;
    gap: 0.4rem;
    @include respond-to("mobile-600") {
      margin: 0;
    }

    &-item {
      width: 1.6rem;
      height: 1.6rem;
      fill: var(--color-primary);
    }
  }

  &__container-location {
    @include flexbox-center;
    gap: 2.4rem;

    @include respond-to("mobile-600") {
      gap: 9.6rem;
      padding-bottom: var(--default-comp-pad);
    }
  }

  &__location {
    @include flexbox-center;
    gap: 1.6rem;

    &-icon {
      width: 1.6rem;
      height: 1.6rem;
      fill: var(--color-primary);
    }

    &-text {
      font-size: 1.2rem;
      color: var(--color-primary);
      background-color: transparent;
      border: none;
      position: relative;
      cursor: pointer;
      transition: all 0.2s;
      &::after {
        content: "";
        position: absolute;
        top: 1.7rem;
        left: 50%;
        background-color: currentColor;
        height: 1px;
        width: 120%;
        transform: translateX(-50%);
      }
      &:hover {
        color: var(--color-grey-dark-3);
      }
    }
  }
  &__score {
    @include flexbox-center;
    flex-direction: column;
    color: var(--color-grey-light-1);
    background-color: var(--color-primary);
    padding: 1.2rem 1.6rem;
    @include respond-to("mobile-600") {
      background-color: #fff;
      color: var(--color-primary);
      justify-content: flex-end;
      padding: 0;
    }
    &-average {
      font-size: 2.4rem;
    }

    &-votes {
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}

/* 
***********************************************
Hotel details section stylings
*********************************************** 
*/

// Features styling

.features {
  flex: 0 0 60%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: var(--default-comp-pad);
  gap: var(--gap-details);
}
.feature {
  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    &-text {
      text-align: justify;
      line-height: 1.7;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 3.2rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
  }

  &__item {
    flex: 0 0 50%;
    position: relative;
    margin-bottom: 0.8rem;

    &::before {
      content: "";
      margin-right: 0.8rem;
      height: 1rem;
      width: 1rem;
      display: inline-block;
      mask-image: url(../../img/chevron-thin-right.svg);
      background-color: var(--color-primary);
      mask-size: cover;
    }
  }

  &__recommendations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    &-text {
      font-size: 1.2rem;
      text-align: justify;
    }

    &-avatars {
      display: flex;
      flex-wrap: nowrap;
    }
    &-photo {
      @include avatar-styling;
      border: 3px solid #fff;
      &:not(:last-child) {
        margin-right: -2rem;
      }
    }
  }
}

// Reviews styling
.reviews {
  display: flex;
  flex-direction: column;
  gap: var(--gap-details);
  // align-items: center;
}

.review {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: var(--default-comp-pad);
  &::before {
    content: "\201C";
    font-size: 20rem;
    font-family: sans-serif;
    color: var(--color-grey-light-2);
    position: absolute;
    top: -7.7rem;
    left: -0.5rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
  }

  &__text {
    position: relative;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__left-side {
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }

  &__photo {
    @include avatar-styling;
  }

  &__name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__date {
    font-size: 1rem;
    color: var(--color-grey-dark-1);
  }

  &__rating {
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--color-primary);
    display: flex;
    align-items: center;
  }
}

/* 
***********************************************
CTA styling
*********************************************** 
*/
.cta {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;

  .btn {
    border: none;
    font-size: 1.6rem;
    font-weight: 300;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light) 0%,
      var(--color-primary) 33%,
      var(--color-primary-dark) 67%
    );
    text-transform: uppercase;
    color: #fff;
    padding: 2.4rem 8rem;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    transition: all 0.2s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        var(--color-primary-dark) 0%,
        var(--color-primary) 33%,
        var(--color-primary-light) 67%
      );
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:hover::before {
      opacity: 1;
    }

    &-visible {
      display: inline-block;
      transition: all 0.2s;
    }
    &-invisible {
      // color: red;
      position: absolute;
      top: -100%;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      transition: all 0.2s;
    }

    &:hover .btn-visible {
      transform: translateY(220%);
    }

    &:hover .btn-invisible {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
