/* 
***********************************************
Gallery styling
*********************************************** 
*/

.gallery {
  display: flex;
  flex: 1;

  &__item {
  }

  &__photo {
    width: 100%;
  }
}

/* 
***********************************************
Overview styling
*********************************************** 
*/
.overview {
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__title {
    font-weight: 400;
  }

  &__stars {
    &-item {
      width: 2rem;
      height: 2rem;
    }
  }
}

/* 
***********************************************
Details styling
*********************************************** 
*/
.details {
}

/* 
***********************************************
Reviews styling
*********************************************** 
*/
.reviews {
}

/* 
***********************************************
CTA styling
*********************************************** 
*/
.cta {
}
