.container-layout {
  max-width: 120rem;
  background-color: #fff;
  box-shadow: var(--shadow-dark);
  margin: 8rem auto;
}

.header {
  height: 6.4rem;
  display: flex;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-3);
  display: flex;
  flex-direction: column;
  flex: 0 1 18%;
  &-nav {
    &__item {
      list-style: none;
    }
    &__link {
      text-decoration: none;
      color: var(--color-grey-light-1);
    }

    &__icon {
      fill: currentColor;
      // stroke: var(--color-grey-light-1);
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
  }

  &-legal {
    color: var(--color-grey-light-1);
  }
}

.hotel-content {
  display: flex;
  flex: 1 0;
  /*
  flex: 1 breakdown

  flex-grow: 1: The flex item can grow to take up any available space in the flex container. The 1 value means it will take up a proportion of the available space relative to other flex items with a flex-grow value.

  flex-shrink: 1: The flex item can shrink if necessary to fit into the container. The 1 value means it will shrink in proportion to other flex items with a flex-shrink value.

  flex-basis: 0%: The initial size of the flex item before space is distributed according to flex-grow and flex-shrink. A 0 value means the item will start with zero width and grow based on the remaining space.
  */
}
